{% extends "layouts/base-fullscreen.html" %}
{% block title %} Register {% endblock %}
{% block content %}

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>

        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <!-- You can add your logo or icon here -->
                </div>

                <h3 class="mb-4">Register</h3>

                <p class="mb-0 text-muted">Create your account</p>

                {% if messages %}
                    <div class="messages mt-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="input-group mb-3">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
                </form>

                <p class="mb-2 text-muted">Already have an account? <a href="{% url 'login' %}">Login</a></p>

                <p class="mb-0 text-muted">
                    © <a href="https://bit.ly/37fF9RT" target="_blank">Hydrovision</a>  <a href="https://appseed.us" target="_blank"></a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}